
h1{
    color: aqua;
}
/**{
    border: solid;
}*/

.header{
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}
.grid{
    background-color: skyblue;
    display: flex;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.socialMedia{
    background-color: red;
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
p,h2{
    text-align: center;
}
.myProject{
    background-color: rgb(81, 130, 155)
}
